@import url(fonts/Moderustic.css);

.body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(to right, rgb(77, 81, 84), rgb(11, 48, 64));
}

.task-manager {
    padding-top: 12vh;
}

.task-manager__header {
    margin: 0;
    color: white;
    font-family: 'Moderustic', 'Arial', sans-serif;
    font-weight: 500;
    font-size: 85px;
    letter-spacing: 7px;
}